<div class="container">
	<div class="row">
		<div class="col">
			{{#each dbArticles}}
			<div class="row bg-red rounded">
				<h3 class="mx-auto">
					<a class="white" href={{link}}>{{title}}</a>
				</h3>
			</div>
			<div class="row mx-auto">
				<p class="lead">{{summary}}</p>
			</div>
				{{> comments/prior-comments-block}}
				{{> comments/add-comment-block}}
			{{/each}}
		</div>
	</div>
</div>