<form>
    <div class="row mb-2 justify-content-center">
        <div class="col-6">
            <input type="text" class="form-control" id="new-comment" placeholder="new comment">
        </div>
        <div class="col-1">
            <button type="submit" class="btn bg-green mb-2">ADD COMMENT</button>
        </div>
    </div>
</form>